@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: robotoLight;
  src: url(../../public/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../../public/fonts/Roboto-Bold.ttf);
}
@font-face{
  font-family: robotoBlack;
  src: url(../../public/fonts/Roboto-Black.ttf);
}


@theme{
  --font-light: robotoLight;
  --font-bold: robotoBold;
  --font-black: robotoBlack

  --color-background: #e8f0f8;
  --color-primary: #0a2e4a ;
  --color-secondary-100: #0078d7;
  --color-secondary-200: #0063b1;
  --color-shadow : rgba(0 ,120 , 215 ,0.2)
  --color-text-100: #333;
  --color-text-200: #555;

  --text-md:0.9rem;
}

@utility container{
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;;
}

body{
  font-family: var(--font-light);
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
}