@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: robotoLight;
  src: url(../../public/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../../public/fonts/Roboto-Bold.ttf);
}
@font-face{
  font-family: robotoBlack;
  src: url(../../public/fonts/Roboto-Black.ttf);
}


@theme{
  --font-roboto-light: robotoLight;
  --font-roboto-bold: robotoBold;
  --font-roboto-black: robotoBlack

  --color-background: #e8f0f8;
  --color-primary: #0a2e4a ;
  --color-hover-100:#164267;
  --color-secondary-100: #0078d7;
  --color-secondary-200: #0063b1;
  --color-shadows : rgba(0 ,120 , 215 ,0.2) ;
  --color-text-100: #333;
  --color-text-200: #555;

  --text-md:0.9rem;
}

@utility container{
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;;
}

@layer components{
  .link{
    @apply font-roboto-bold text-base  duration-300 ease-in-out hover:text-secondary-100
  }
  .linkActive{
    @apply font-roboto-bold text-base  text-secondary-100
  }
  .btn_primary{
    @apply flex justify-center items-center bg-primary text-white w-[120px] h-10 rounded-full duration-300 hover:bg-hover-100 hover:drop-shadow-xl hover:drop-shadow-shadows hover:-translate-y-1
  }
  .btn_secondary{
    @apply  flex justify-center items-center border-2 border-primary text-primary w-[120px] h-10 rounded-full duration-300 hover:border-secondary-100 hover:text-secondary-100 hover:drop-shadow-xl hover:drop-shadow-shadows hover:-translate-y-1
  }
  .title{
    @apply flex justify-center items-center font-roboto-black text-4xl font-black text-primary
  }
}

body{
  font-family: var(--font-light);
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  background-color: #e8f0f8 !important;
}
